<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>USER API</title>
</head>

<body>
  <div>User saved successfully with <%= count %> tries</div>
</body>

</html>